.undecorator-label-titlebar{
    -fx-font-weight:bold;
    -fx-text-fill: whitesmoke;
}
.logo-label{
    -fx-font-weight:bold;
    -fx-text-fill: whitesmoke;
}
.tab-pane {
    -fx-tab-min-height: 3em;
    /* 24 */

    -fx-tab-max-height: 3em;
    /* 24 */
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
     -fx-font-weight: bold;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: white;
	-fx-faint-focus-color: black;
    
}
.tab:selected {
    -fx-background-color: #2951a0;
}
.tab:selected .tab-label  {
   -fx-text-fill: white;
   -fx-font-weight: bold;
}
.tab:focused {
    -fx-focus-color: transparent;
}
.tab {
    -fx-padding: 0 30 0 30;
}
.tab-pane *.tab-header-background {
    -fx-background-color: white;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
   -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
#rdes > .label{
    -fx-graphic:url('dek.png');
}
#rdos > .label{
    -fx-graphic:url('dos.png');
}
#rffil > .label{
    -fx-graphic:url('fil.png');
}
#set > .label{
    -fx-graphic:url('set.png');
}
#textField {
  -fx-background-image:url('Search_24px.png');

  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
  -fx-font-size: 20;
}
